* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "微软雅黑";
}

a {
	text-decoration: none;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	color: #ff5c5c;
	text-decoration: none;
}

.warp {
	width: 1920px;
	min-height: 800px;
}

.w {
	width: 1200px;
	margin: 0 auto;
}

.lf {
	float: left
}

.lr {
	float: right;
}

.zi20 {
	font-size: 20px;
	color: red;
}

.zi18 {
	font-size: 18px;
}

.zi12 {
	font-size: 12px;
	color: #666666;
}
.zi16{
	font-size: 16px;
}

.head {
	height: 100px;
	width: 1200px;
}

.cuowu {
	font-size: 12px;
	color: red;
	margin-top: 20px;
	padding-left: 4px;
}

.main {
	width: 1200px;
	min-height: 550px;
}

.main_left {
	width: 600px;
	min-height: 500px;
}

.main_right {
	width: 600px;
	min-height: 500px;
}

.main_right_zhengti {
	margin-top: 50px;
	margin-left: 50px;
	border: 1px solid #cccccc;
	min-height: 400px;
	width: 400px;
}

.main_right_zhengti_xiao {
	margin: 50px 30px;
	width: 340px;
	min-height: 300px;
}

.main_right_zhuce_phone {
	width: 270px;
	height: 38px;
	margin-top: 5px;
	background: url('../img/phone.jpg') left no-repeat;
	padding-left: 30px;
	border: 0.8px solid #cccccc;
}

.main_right_zhuce_mima {
	width: 150px;
	height: 38px;
	margin-top: 20px;
	padding-left: 4px;
	border: 0.8px solid #cccccc;
	float: left;
}

.main_right_zhuce_qrmima {
	width: 270px;
	height: 38px;
	margin-top: 20px;
	padding-left: 30px;
	border: 0.8px solid #cccccc;
	background: url("../img/queren.jpg") left no-repeat;
}

.main_right_zhuce_yzm {
	width: 270px;
	height: 38px;
	margin-top: 20px;
	padding-left: 30px;
	border: 0.8px solid #cccccc;
	background: url("../img/yzm.jpg") left no-repeat;
}

.main_right_sm {
	font-size: 12px;
	color: darkgray;
	margin-top: 20px;
}

.main_right_zhuce_denglu {
	width: 300px;
	height: 38px;
	margin-top: 20px;
	background-color: #f83244;
	border-radius: 15px;
	color: #ffffffff;
	border: 0px;
}

.main_right_denglu_zi {
	font-size: 24px;
	color: #ff5c5c;
}

.main_right_denglu_zhuce {
	font-size: 14px;
	color: #ff5c5c;
	margin-top: 20px;
	text-align: right;
	margin-right: 50px;
}

.main_right_denglu_qq {
	font-size: 12px;
	color: darkgray;
	margin-top: 20px;
}

.yanzheng {
	width: 300px;
	height: 38px;
}

.yanzheng_xinxi {
	height: 38px;
	width: 130px;
	background-color: #ff5c5c;
	color: #ffffff;
	font-size: 14px;
	float: left;
	margin-top: 20px;
	margin-left: 10px;
	line-height: 38px;
	text-align: center;
}

.main2 {
	width: 1920px;
	height: 200px;
	background-color: #fafafa;
	border-top: 1px solid #cccccc;
}

.main2_w {
	height: 200px;
	margin-top: 20px;
}

.main2_fen_left {
	width: 280px;
	height: 200px;
	float: left;
}

.main2_fen_center {
	width: 240px;
	height: 200px;
	float: left;
}

.main2_fen_right {
	width: 200px;
	height: 200px;
	float: left;}
	
.remen{
	min-height: 100px;width: 1200px;margin: 0 auto;
}	
.remencity{
	font-size: 14px;float: left;width: 1200px;height: 30px;
}
.footer {
	height: 50px;
	width: 1920px;
	float: left;
	text-align: center;
	line-height: 50px;
	font-size: 14px;
	color: #cccccc;
	background-color: #333333;
}
.red{
	color: red;
}
.huise{
	color: #666666;
}




.anniu{
	width: 150px;
	height: 50px;
	margin-top: 20px;
	margin-right: 30px;
	background-color: #f83244;
	color: #FFFFFF;
	border-radius: 15px;
	border: 0px;
}

.tuwen{width: 260px; float: left;}
.tuwen li{float: left; margin-left: 30px; position: relative; margin-top: 16px;}
.tuwen li:nth-child(4n){margin-right: 0;}
.tuwen li em{position: absolute;bottom: 0; left: 0; color: #fff; width: 100%; height: 100px;
    background: url(http://qnm.hunliji.com/o_1b1hev443gsa13phd6iujvmsp7.png) repeat-x bottom;}
.tuwen li span{position: absolute; bottom: 5px; left: 0; color: #fff; width: 174px;padding: 0 12px; line-height: 16px; font-size: 12px;}
.tuwen li span b{width: 100%; height: 14px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.tuwen li:nth-child(2) span, .tuwen li:nth-child(8) span{width: 292px; padding: 0 12px;}

/* demo */
.demo{width:880px;min-height:500px;position:relative;}
.demo h2{font-size:16px;height:44px;color:#3366cc;margin-top:20px;}
.demo dl dt{font-size:14px;color:#ff6600;margin-top:30px;font-weight:800;}
.demo dl dt,.demo dl dd{line-height:22px;}
/* tabbtn */
.tabbtn{height:30px;background:url(images/tabbg.gif) repeat-x;border-left:solid 1px #ddd;border-right:solid 1px #ddd;}
.tabbtn li{float:left;position:relative;margin:0 0 0 -1px;}
.tabbtn li a{display:block;float:left;height:30px;line-height:30px;overflow:hidden;width:108px;text-align:center;font-size:12px;cursor:pointer;}
.tabbtn li.current{border-left:solid 1px #d5d5d5;border-right:solid 1px #d5d5d5;border-top:solid 1px #c5c5c5;}
.tabbtn li.current a{border-top:solid 2px #ff6600;height:27px;line-height:27px;background:#fff;color:#3366cc;font-weight:800;}
/* tabcon */
.tabcon{border-width:0 1px 1px 1px;border-color:#ddd;border-style:solid;position:relative;/*必要元素*/min-height: 500px;overflow:hidden;}
.tabcon .subbox{position:absolute;/*必要元素*/left:0;top:0;}
.tabcon .sublist{padding:5px 10px;min-height: 500px;}
/* leftcon */
#leftcon .subbox{width:9999em;}
#leftcon .subbox .sublist{float:left;width:664px;}
/* sublist */
.sublist{padding:10px;}
.sublist li{height:28px;line-height:28px;font-size:12px;}
.sublist li span{margin:0 5px 0 0;font-family:"宋体";font-size:12px;font-weight:400;color:#ddd;}

/*婚礼策划*/
.cehuamain{
	width: 1200px;
	min-height: 600px;
	margin: 20px auto;
	
}
.cehuamain ul li{ float: left;margin-right: 18px;}
.cehuatuwen{
	width: 280px;height: 280px;border: 0.2px solid #CCCCCC;
}
.cehuatuwen_title{
	width: 280px; text-align: center;font-size: 22px;
}
.cehuatuwen_name{
	margin-left: 10px;font-size: 16px;
}
.cehuatuwen_jiage{
	font-size: 16px;margin-left: 10px;
}
/*大管家*/
.daguanjiazhengti{
	width: 1200px;min-height: 500px;margin: 0 auto;
}
.daguanjiatitle1{
	margin-top: 10px;
}
.daguanjiatitle2{
	margin-top: 10px;
}
.daguanjiatitle3_zhengti{
	margin-top: 10px;background-color: #fafafa;height: 40px;line-height: 40px;border: 1px solid #cccccc;
}
.daguanjiatitle3_zhengti1{
	float: left;width: 300px;height: 40px;line-height: 40px;
}
.daguanjiatitle3_zhengti2{
	float: right;width: 88px;height: 28px;line-height: 28px;border: 1px solid #cccccc;text-align: center;margin-top: 6px;margin-right: 20px;
}

.daguanjiatuwen{
	margin-left: 80px;height: 170px;width: 240px;
}
.daguanjiatuwen_leftup{
	width: 240px;height: 100px;
}
.daguanjiatuwen_leftup_tu{
	width: 80px;height: 100px;float: left;
}
.daguanjiatuwen_leftup_wenzi{
	width: 160px; height: 100px;float: left;text-align: center;
}
.daguanjiatuwen_leftdown{
	width: 240px;height: 70px;
}
.daguanjiatuwen_leftdown_wenzi{
	float: left;width: 198px;height: 68px;line-height: 28px;border: 1px solid #cccccc;
}
.daguanjiatuwen_leftdown_tu{
	float:left;width: 40px;height: 70px;
}
.daguanjiatuwen_ren{
	height: 170px;width: 240px;
}
.daguanjiatuwen_shipin{
	height: 170px;width: 240px;
}
.daguanjiatuwen_xiangqing{
	height: 168px;width: 240px;line-height:170px;text-align: center;border: 1px solid #cccccc;
}
