.hide {
	display: none;
}
.icon {
	background: url(http://qnm.hunliji.com/o_1afq80lbl15r3f121jage9d16u37.png);
	display: inline-block;
	width: 24px;
	height: 25px;
}
.icon:hover{opacity: 0.8}
.icon-wedding-plan {
	background-position: -48px -10px;
}
.icon-wedding-clothe {
	background-position:-72px -10px;
}
.icon-photograph {
	background-position:-96px -10px;
}
.icon-cameraman {
	background-position:-120px -10px;
}
.icon-makeup {
	background-position:-144px -10px;
}
.icon-host {
	background-position:-168px -10px;
}
.icon-wedding-car {
	background-position:-192px -10px;
}
.icon-hotel {
	background-position:-216px -10px;
}
/*.icon-global-photo {
	background-position:
}*/
.icon-package-type {
    width: 83px;
    height: 36px;
    position: absolute;
    background-position: -71px -44px;
    top: 10px;
    left: -6px;
    line-height: 30px;
    color: #fff;
    text-indent: 10px;
    z-index: 10;
}
.icon-message {
	background-position: -12px 0px;
    width: 12px;
    height: 12px;
}
.icon-pre {
    width: 30px;
    height: 60px;	
    background-position: 0 -44px; left: 0;
}
.icon-next {
    width: 30px;
    height: 60px;	
    background-position: -36px -44px; right: 0;
}
b.money {
	font-size: 12px;
	line-height: 18px;
}
body {
    background: #fff;
    width: 100%;
    min-height: 100%;
    font: 14px "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;;
    text-align: left; color: #333;
}
.lines{width: 100%; border-bottom: 1px solid #f83244; position: absolute; top: 206px;}
.wrapper {
	margin: 0 auto;
    font-size: 14px;
	width: 1200px;
}
.section {
	margin-bottom: 20px;
	display: block; float: left;;
}
.section-nav {
	position: relative;
}
.section-nav:before {
	//TODO
	//content: '';
    top: 65px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #f83244;
    position: absolute;
}

/*20170720修改banner开始*/
.aside-service {
	width: 205px;
	color: #fff;
	font-size: 16px;
	float: left; border: 1px solid #e8e8e8; border-top: 0;border-right: 0;
}
.aside-service .item  {
	cursor: pointer;border-right: 1px solid #e8e8e8;
}
.aside-service .item .icon{display: none;}
.aside-service .item:hover {
	background:#fafafa; /*rgba(255,255,255,0.3);*/border-right: 1px solid #fafafa;
}
.aside-service .item:hover .type{color: #f83244;}
.aside-service .service {
	height: 16px;
	padding: 23px 0;
	margin: 0 15px;
	/*border-bottom: 1px dashed #999;*/ background: url(http://qnm.hunliji.com/o_1blhgiuld16poeol7j51dojpej7.png) no-repeat bottom;
}
.aside-service .title {
	background-color: #f83244;
	border-bottom: 0;
    width: 250px; height: 52px; line-height: 52px; text-indent: 20px;
    border-radius: 4px 4px 0 0;
}
.aside-service .item:last-child .service {
	background: none;
}
.aside-service .item .type {
	float: left;margin-top: -3px;color: #333; font-weight: bold;
}
.aside-service .item .type a{color: #fff;}
.aside-service .item .icon {
	float: left;
	margin-top: -5px;
}
.aside-service .item .desc {
	font-size: 12px;
	float: right; opacity: 0.75; color: #666;
}
.aside-service .item .wait {
    border: 1px solid #fff;
    padding: 2px 4px;
    border-radius: 4px; 
    box-sizing: border-box;	margin-top: -4px;
}
.aside-service .service-detail {
	float: right;
    font-size: 12px;
    color: #666;
    position: absolute;
    left: 207px;
    height: 483px;
    top: 0px;

    width: 130px;
    overflow: hidden;
    background: #fafafa;
    padding: 10px 0;
    min-height: 38px;
    border: 1px solid #e8e8e8;
    border-top:0;
    border-left: 0;	
    z-index: 10;
    display: none;
}
:root .aside-service .service-detail{
    height: 482px\0;
    top: 52px\0;
}
.aside-service .service-detail .detail {
    display: block;
    line-height: 37px;
    cursor: pointer;
    width: 96px;
    float: left;
    padding: 0 10px;
    padding-left: 24px;	
    color: #666666;
}
.aside-service .service-detail .detail:hover {
	color: #ff7070;
}
/*20170720修改banner结束*/


.lunbo {
	float: left;
}
.lunbo .nav-top {
	padding-left: 25px;
}
.lunbo .nav-top .nav-item {
	float: left;
	padding: 15px 23px;
	font-size: 16px;
	color: #333333;
	position: relative; font-weight: bold;
}
.lunbo .nav-top a.on, .lunbo .nav-top .nav-item:hover{color: #f83244;}
.lunbo .nav-item>img {
    position: absolute;
    top: 7px;
    right: -8px;
}
.lunbo .list-detail {
	position: relative;
	margin: 10px 0 0 10px;
}
.lunbo .nav-slide {
    width: 725px;
    height: 365px;	
    float: left;
    position: relative;
    overflow: hidden;
}
.nav-slide .link {
    width: 725px;
    height: 365px;
	float: left;
}
.nav-slide .link img {
	width: 100%;
	height: 100%;
}
.nav-slide .icon-pre {
    position: absolute;
    left: 0;
    top: 44%;
    cursor: pointer;
    display: block;
}
.nav-slide .icon-next {
	position: absolute;
	right: 0;
	top: 44%;
	cursor: pointer;
}
.nav-slide .icon:hover {
	opacity: 0.5;
}
.nav-slide .list-thumb {
	position: absolute;
	bottom: 10px;
	left: 50%;
}
.nav-slide .list-thumb li {
	display: inline-block;
	width: 12px; 
	height: 12px; 
	margin-left: 5px; 
	cursor: pointer; 
	background: rgba(255,255,255,0.45); 
	border-radius: 8px;	
}
.nav-slide .list-thumb li:hover,
.nav-slide .list-thumb li.on {
	background: rgba(255,255,255,1);
}
.lunbo .list-new {
	margin-left: 10px;
	float: left;
	width: 203px;
	text-align: center;
}
.lunbo .list-detail .icon-new-hint {
	position: absolute;
    top: -1px;
    left: 778px;
}
.lunbo .list-new .item {
	float: left;
	width: 98.5px; height: 70px;
    border: 1px solid #e8e8e8;
    border-bottom: 0;
    padding-bottom: 3px;
    color: #333333;
    font-size: 12px;
}
.lunbo .list-new .item:nth-child(2n) {
	border-left: 0;
}
.lunbo .list-new .item:nth-last-child(3),
.lunbo .list-new .item:nth-last-child(2) {
	border-bottom: 1px solid #e8e8e8;
}
.lunbo .list-new .icon {
    display: block;
    margin: 7px auto 3px auto;
}
.lunbo .list-new .icon-advertise {
    float: left;
    margin-top: 1.5px;
    margin-left: -7px;
}
.lunbo .list-topic a {
	float: left;
	margin-left: 10px; width: 235px; height: 120px; font-size: 18px; color: #fff; text-align: center;
}
.lineheight{    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 162px;
    margin: 0 auto;
    height: 120px;}

:root .lineheight{line-height: 120px\0;}

.lunbo .list-topic a:last-child {
	display: block;
	width: 200px;
	height: 120px;
}
.lunbo .list-topic a img {
	width: 200px;
}
.nav-sub {
	margin-bottom: 20px;
}
.nav-sub .title-top {
	font-size: 24px;
	color: #333333;
	border-left: 3px solid #f83244;height: 22px;
	padding: 0px 6px 0 10px;
	float: left;
}
.nav-sub .title-top {
	float: left; line-height: 22px;
}
.nav-sub .list-type {
	float: left; margin-top: 1px;
}
.nav-sub .list-type .item {
	float: left;
	padding: 0 12px;
	border-right: 1px solid #cccccc;
	margin-top: 6px;
	color: #666666;    line-height: 14px;
}
.nav-sub .list-type .item.focus, .nav-sub .list-type .item:hover {
	color: #f83244;
}
.nav-sub .list-type .item:last-child {
	border-right: 0;
}
.nav-sub .more {font-size: 12px;
	float: right;
	margin-top: 8px;
	color: #999999;
}
.nav-sub .more:hover{color: #f83244;}
.section-detail .list-package {
	margin-bottom: 25px;
}
.section-detail .list-package .item {
	position: relative;
	float: left;
	margin-right: 25px;
	margin-bottom: 25px;
}
.section-detail .list-package .item:nth-child(2n) {
	margin-right: 0;
}
.section-detail .list-package .img-cover {
	float: left;
	width: 320px;
	height: 200px;
}
.section-detail .list-package .img-cover:hover{opacity: 0.8;}
.section-detail .list-package .detail {
    border: 1px solid #e8e8e8;
    border-left: 0;
    padding: 20px 15px;
    width: 235px;
    float: left;
    height: 158px;
}
.section-detail .list-package h5 {
	color: #333333;
	font-size: 16px;
	margin-bottom: 15px; width: 100%; height: 20px;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;
}
.section-detail .list-package .desc {
	color: #999999;
	line-height: 1.8;
	height: 80px; overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;margin-bottom: 18px;
}
.package-info .price {
	float: left;
}
.package-info .price .show {
	color: #f83244;
	font-size: 20px;
}
.package-info .price .market {
	color: #999999;
	font-size: 12px;
}
.package-info .collect {
	float: right;
	margin-top: 6px; font-size: 12px;
}
.collect {
	color: #999999;
}
.collect .num {
	float: left; font-size: 12px; margin-top: 2px;
}
.collect .icon-collect {
	float: left;
}
/*case list*/
.list-case .item {
	float: left;
	width: 280px;
	margin-right: 26px;
	margin-bottom: 25px;
}
.list-case .item:nth-child(4n) {
	margin-right: 0;
}
.list-case .img-cover {
	width: 100%;
	height: 180px;
	display: block;
}
.list-case .img-cover:hover{opacity: 0.8}
.list-case .detail {
	border: 1px solid #e8e8e8;
	border-top: 0;
	padding: 15px;
	font-size: 12px;
	color: #999999;
}
.list-case .detail .title {
	font-size: 16px;
	color: #333333;
	margin-bottom: 5px;width: 100%; height: 20px;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;
}
.list-case .merchant-name {
	float: left;text-overflow:ellipsis; white-space:nowrap; overflow:hidden; width: 200px; height: 16px;
}
.list-case .collect {
	float: right;
}
.section-banner img {
	width: 100%;
	height: 120px;
}
/*wedding purchase*/
.list-tag {
	border: 1px solid #e8e8e8;
	background-color: #fafafa;
	padding: 25px 30px;
	margin-bottom: 20px;
}
.list-tag .tag-detail {
	float: left;
	margin-right: 40px;
	height: 75px;
}
.list-tag .tag-detail:last-child {
	margin-right: 0;
}
.list-tag .tag-detail .icon {
    float: left;
    margin-right: 10px;
    margin-top: -13px;
}
.list-tag .tag-detail .tag {
	width: 250px;
	float: left;
}
.list-tag .tag-detail .title {
	color: #333333;
	font-size: 16px;
	margin-bottom: 12px;
	text-indent: 10px;
}
.list-tag .tag-detail .tags {
	color: #999999;
	font-size: 14px;
}
.list-tag .tags .item {
	float: left;
	padding: 0 11px;
	margin-bottom: 8px;
	border-right: 1px solid #ccc;
    line-height: 14px;
}
.list-tag .tags a {
	color: #999999;
}
.list-tag .tags a:hover{color: #f83244;}
/*.list-tag .tags .item:last-child {
	border-right: 0;
}*/
.list-tag .tags .focus a {
	color: #f83244;
}
.list-wedding .item {
	float: left;
	width: 220px;
	margin-right: 25px;
	margin-bottom: 25px;
}
.list-wedding .item:nth-child(5n) {
	margin-right: 0;
}
.list-wedding .img-cover {
	width: 100%;
	height: 220px;
}
.list-wedding .img-cover:hover{opacity: 0.8}
.list-wedding .detail {
	padding: 15px;
	border: 1px solid #e8e8e8;
	border-top: 0;
}
.list-wedding .detail .title {
	color: #333333;
	margin-bottom: 5px;
    text-overflow:ellipsis; white-space:nowrap; overflow:hidden; width: 100%; height: 19px;
}
.list-wedding .detail .price {
	color: #f83244;
	font-size: 18px;
	float: left;
}
.list-wedding .detail .collect {
	float: right; margin-top: 4px;
}
/* wedding images*/
.list-img .small img {

	height: 240px;
	float: left;width: 100%;
}
.list-img .small img:hover, .list-img .img-side:hover{opacity: 0.8;}
.list-img .img-side {
	height: 500px;
    width: 275px;
    float: right;
}
.list-img .small {
	float: left;
	width: 925px;
}
.list-img .small a{position: relative; float: left;margin-right: 20px;margin-bottom: 20px;}
.list-img .small a em{position: absolute;bottom: 0; left: 0; color: #fff; width: 100%; height: 100px;
    background: url(http://qnm.hunliji.com/o_1b1hev443gsa13phd6iujvmsp7.png) repeat-x bottom;}
.list-img .small a span{position: absolute; bottom: 8px; left: 0; color: #fff; padding: 0 12px; font-size: 12px;}
.nav-strategy .item {
	width: 220px;
	float: left;
	margin-right: 25px;
	margin-bottom: 25px;
}
.nav-strategy .item:nth-child(5n) {
	margin-right: 0;
}
.nav-strategy .item img {
	width: 100%;
	display: block;
	height: 220px;
}
.nav-strategy .item img:hover{opacity: 0.8}
.nav-strategy .item .desc {
	border: 1px solid #e8e8e8;
	padding: 9px; line-height: 20px;
	border-top: 0;text-overflow:ellipsis; white-space:nowrap; overflow:hidden; height: 20px;
}
.nav-strategy .item .desc a{color: #333;}
.list-strategy {
    border: 1px solid #e8e8e8;
    background-color: #fafafa;
    padding: 25px 30px;
    margin-bottom: 20px;
}
.list-strategy .item {
	float: left;
	margin-right: 55px;
}
.list-strategy .item:nth-child(3n) {
	margin-right: 0;
}
.list-strategy .item img {
	float: left;
	width: 100px;
	height: 100px;
	margin-right: 20px;
}

.list-strategy .list-items {
	float: left;
	width: 220px;
}
.list-strategy .list-items li {
	margin-bottom: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	padding-left: 10px;
	color: #656666;
}
.list-strategy .list-items li a{width: 210px; height: 18px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.list-strategy .list-items li a:hover{color: #f83244}
.list-strategy .list-items li:before {
    position: absolute;
    left: 0;
    top: 10px;
    content: '';
    background-color: #656666;
    border-radius: 3px;
    width: 3px;
    height: 3px;
}
.list-strategy .list-items li:nth-child(4n) {
	margin-bottom: 0;
}
.list-message {
	border-top: 1px solid #e8e8e8;
	padding-top: 20px;
}
.list-message .item:before {
    position: absolute;
    left: 0;
    top: 10px;
    content: '';
    background-color: #656666;
    border-radius: 3px;
    width: 3px;
    height: 3px;
}
.list-message .message {
	border-right: 1px dashed #e8e8e8;
	padding-right: 30px;
	width: 357px;
	float: left;
	padding-left: 30px;
}
.list-message .item {
	position: relative;
	margin-bottom: 16px;
}
.list-message .item .icon-message {
	margin-right: 5px; vertical-align: baseline;
}
.list-message .item span {
	margin-left: 10px;
	float: left;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;
	width: 280px;height: 18px; line-height: 18px;
}
.list-message .item span a:hover{color: #f83244;}
.list-message .item .num {
	float: right; font-size: 12px; color: #999; line-height: 16px;margin-top: 4px;
}
.list-message .message:last-child {
	border-right: 0;
	padding-right: 0;
}
.list-message .message:first-child {
	padding-left: 0;
}

.floatbox{position:fixed; width:100px; bottom:100px; left:50%; margin-left:610px; z-index:888;}
.floatbox .p1{width:53px; height:53px; border:1px solid #e7e7e7; background:#fff;}
.floatbox .p1 img{margin:5px 9px 5px 6px;}
.floatbox .p1 span{width:100%; text-align:center; color:#888;display: inline-block;font-size: 14px; line-height: 14px;}
.floatbox .p2, .floatbox .p3{width:98px; height:30px; line-height:30px; color:#ff5165; border:1px solid #e7e7e7; margin-top:10px; text-align:center; background:#fff; cursor: pointer;}
.floatbox .p2:hover, .floatbox .p3:hover{background: #f8f8f8;}
.floatbox .p3:hover i{color: #ff5165;}
.floatbox .p3 i{font-size:30px; color:#999; margin-top:-10px;display: inline-block;}



.web161104{width: 100%; float: left;}
.new-box161104{float: left; margin-top: 20px; width: 100%;}
.manner-left, .hotel-left{width: 960px; float: left;}
.manner-left-img li{float: left; margin-right: 16px; position: relative; margin-bottom: 16px;}
.manner-left-img li:nth-child(4n){margin-right: 0;}
.manner-left-img li em{position: absolute;bottom: 0; left: 0; color: #fff; width: 100%; height: 100px;
    background: url(http://qnm.hunliji.com/o_1b1hev443gsa13phd6iujvmsp7.png) repeat-x bottom;}
.manner-left-img li span{position: absolute; bottom: 5px; left: 0; color: #fff; width: 174px;padding: 0 12px; line-height: 16px; font-size: 12px;}
.manner-left-img li span b{width: 100%; height: 14px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.manner-left-img li:nth-child(2) span, .manner-left-img li:nth-child(8) span{width: 292px; padding: 0 12px;}

.active-list{width:208px; height:457px; float:right; border:1px solid #e7e7e7; border-width:0px 1px 1px 1px;}
.active-list h3{background:#ff5165; line-height:42px; color:#fff; font-size:20px; font-weight:normal; text-align:center; margin-bottom: 10px;}
.active-list h3 a{color: #fff;}
.active-list dl{width:178px; padding:0 15px; float:left; margin-top:3px;}
.active-list dt{width:178px; float:left;}
.active-list dl img{float:left; width:60px; height:60px;}
.active-list dt{line-height:30px; color:#666;}
.active-list dt a{ width: 155px; height: 32px; overflow: hidden; float: right;}
.active-list dd{display:none;}
.active-list dl.on dd{display:block;}
.active-list dl.on dt{color: #ff5165;}
.active-list dd span{width:80px; float:left; margin-left: 12px; color:#999; line-height:20px; font-size: 12px;}
.active-list dd span i{width: 100%; float: left;}

.selected-hotel{float: left; margin-top: 20px;}
.hotel-list{width: 960px; float: left;}
.hotel-list dl{width: 228px; border: 1px solid #e7e7e7; padding-bottom: 8px; margin-right: 13px; float: left; margin-bottom: 13px;}
.hotel-list dl:nth-child(4n){margin-right: 0;}
.hotel-list dd img{width: 228px; height: 142px;}
.hotel-list dd img:hover{opacity: 0.8}
.hotel-list dt{width: 208px; height: 21px; overflow: hidden; margin: 0 10px; color: #333; margin-top: 8px;}
.hotel-list dt a{color: #333;}
.txt-hotel{font-size: 12px; color: #f83244; width: 208px;margin: 0 10px; margin-top: 4px;}
.txt-hotel span{color: #999; float: right;}
.txt-hotel b{font-size: 16px; font-weight: normal;}

.text-list{width: 100%; float: left;}
.text-list .nav-sub{margin-bottom: 10px;}
.text-box1{width: 360px; float: left;}
.text-content{width: 100%; float: left; border-top: 1px solid #e7e7e7; padding: 10px 0;}
.text-content span{float: right; font-size: 12px; color: #999;}
.text-content i{margin-right: 6px;}
.text-content li{width: 100%; line-height: 34px;}
.text-content li a{color: #666; width: 300px; line-height: 34px; height: 34px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;float:left;}
.text-content li a:hover{color: #f83244;}
.text-box2{width: 60px; float: left; height: 210px; text-align: center;}
.text-box2 span{width: 1px; height: 165px; border-right: 1px dashed #e7e7e7; margin-top: 40px;}

/* teemo 16/11/15  */
.active-list dt{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

/*2017/07/14*/
.weddingcar_hotcity{width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: rgba(0,0,0,0.5);z-index: 999;display: flex; align-items: center; justify-content: center;}
.weddingcar_hotcity_text{width: 310px; background: #fff; min-height:160px; border-radius: 5px; padding: 20px;}
.weddingcar_hotcity_text h3{font-size: 14px; color: #000; font-weight: bold; text-indent: 8px; margin-bottom: 10px;}
.weddingcar_hotcity_text h3 span{float: right; margin-top: -10px; cursor: pointer;}
.weddingcar_hotcity_text a{float: left; padding: 0 8px; color: #333; line-height: 30px;}
.weddingcar_hotcity_text a:hover{color: #f83244;}


/*20170720*/
.f83244_0720{color: #f83244;}
.new_nav_170720{width: 100%; height: 44px; background: #f83244;position: relative; margin-top: 12px; /*top: 147px;*/z-index: 99;}
.new_nav_box{width: 1200px; margin: 0 auto;}
.new_nav_box a{float: left; height: 44px; line-height: 44px; padding: 0 30px; color: #fff; font-size: 16px;}
.new_nav_box a:hover{background: #fa4f5f; color: #fff;}
.new_nav_item{position: relative;width: 124px; float: left; height: 44px;}
.new_nav_item a{position: absolute; left: 0; background: #f83244; color: #fff; padding: 0; text-align: center; width: 124px;top: 0;}
.new_nav_item a:nth-child(1){z-index: 99;}
.new_nav_item a:nth-child(2){background: #f57887;}
.new_nav_item:hover a:nth-child(2){top: 44px;}
.hotel_query{width: 983px; float: right; margin-top: 5px;}
.hotel_query_left{width: 770px;height: 205px;background-color: #13ACEC; float: left;}
.query_one{width: 100%; text-align: center; color: #fff; font-weight: bold; font-size: 24px; line-height: 24px; margin-top: 28px;}
.query_one img{margin-right: 10px;}
.query_two{width: 100%; text-align: center; color: #fff; font-size: 16px; line-height: 16px; margin-top: 16px;}
.query_two li{margin: 0 20px; display: inline-block;}
.query_two li span{font-weight: bold; font-family: Arial;}
.query_three{width: 608px; height: 40px; background: #fff; border-radius: 4px; margin: 20px auto 0 auto; position: relative;}
.query_three i{width: 14px; height: 20px; background: url(http://qnm.hunliji.com/o_1blp5j9e619b51cpt6hfgmd1k5mm.png) no-repeat; background-position:0 6px; float: right; padding-right: 10px; border-right: 1px solid #e8e8e8;}
.query_three_div{width: 156px; height: 30px; float: left; padding: 10px 0; cursor: pointer;}
.query_three .query_three_div:nth-child(3) i{border-right: 0;}
.query_three_div em{width: 20px; height: 20px; background: #fa4f5f; border-radius: 50%; color: #fff; text-align: center; line-height: 20px; margin: 0 8px 0 10px; float: left;}
.query_three_div span{width: 86px; overflow: hidden;}
.query_three_button{width: 140px; height: 40px; background: #f43a5d; font-size: 18px; border-radius: 0 4px 4px 0; color: #fff; text-align: center; line-height: 40px; float: left; cursor: pointer;}
.query_foue{width: 100%; font-size: 12px; color: #fff; margin-top: 15px; text-align: center;}
.query_foue a{color: #fff; margin: 0 10px;}
.query_foue a:hover{text-decoration: underline;}
.hotel_query_right{width: 200px; height: 205px; background-color: #428BCA; float: right;}
.query_right_one{width: 100%; text-align: center; font-size: 20px; color: #1d3f6f; font-weight: bold; text-indent: 15px; margin-top: 25px; line-height: 20px; margin-bottom: 22px;}
.query_right_two{width: 100%; font-size: 16px; line-height: 16px; margin-bottom: 12px; color: #1d3f6f; text-indent: 15px;}
.query_right_foue{width: 120px; height: 40px; border: 2px solid #1d3f6f; color: #1d3f6f; font-size: 16px; text-align: center; line-height: 40px; border-radius: 20px; margin-top: 12px; margin-left: 40px; float: left; cursor: pointer;}
.query_three_ul{display: none; z-index: 9;}
.city_select{width: 210px; background: #fff; border: 1px solid #e8e8e8;padding: 25px 25px 11px 25px;position: absolute; top: 50px; border-radius: 2px;}
.city_select li{float: left;margin-bottom: 14px;margin-right: 14px;cursor: pointer;}
.city_select li:hover, .query_three_ul li.on{color: #f83244;}
.area_select{width: 240px; padding: 20px; background: #fff; border: 1px solid #e8e8e8; border-radius: 2px; position: absolute; top: 50px; left: 156px;}
.area_select li{width: auto;padding: 0 5px; margin: 8px 0; float: left; cursor: pointer;}
.area_select li:hover, .area_select li.on{color: #f83244;}
.budget_select{width: 104px; padding:15px 25px; background: #fff; border: 1px solid #e8e8e8; border-radius: 2px; position: absolute; top: 50px; left: 312px; display: none;}
.budget_select li{line-height: 26px; cursor: pointer;}
.budget_select li:hover, .budget_select li.on{color: #f83244;}

/*弹框*/
.modal_layer{width: 100%; height: 100%; background: rgba(0,0,0,0.5); position: fixed; z-index: 999; top: 0; display: none; justify-content: center; align-items: center;}
.modal_box{background: #fff; width: 480px; padding: 20px; box-sizing: border-box; font-size: 14px; color: #666;}
.modal_box__Close{background: url(http://qnm.hunliji.com/o_1bivg4u38olbtpd1al01dfi16sv7.png) no-repeat;display: block;width: 16px;height: 16px;cursor: pointer; float: right;}
.modal_box_title{width: 100%; text-align: center; font-size: 20px; line-height: 20px; margin-top: 16px; color: #333; font-weight: bold;}
.modal_box_text{width: 100%;font-size: 14px; line-height: 14px; margin-top: 26px; text-align: center;}
.modal_box_input{width: 300px; margin: 0 auto;}
.modal_box_moble input{width: 298px; height: 38px; border: 1px solid #e8e8e8; text-indent: 10px; margin-top: 20px;}
.modal_box_prompt, .modal_box_prompt1{font-size: 12px; line-height: 12px; margin-top: 8px; visibility: hidden;}
.modal_box_prompt1{margin-top: -12px;}
.modal_box_prompt i, .modal_box_prompt1 i{width: 14px; height: 14px; background: #f83244; font-size: 12px; color: #fff; text-align: center; line-height: 14px; border-radius: 50%; margin-right: 6px;}
.modal_box_button{width: 300px; height: 40px; background: #f83244; color: #fff; text-align: center; line-height: 40px; font-size: 18px; border-radius: 2px; margin-top: 20px; cursor: pointer;}
.modal_box_12{font-size: 12px; margin-top: 12px;}
.modal_box_12 a:hover{text-decoration: underline; color: #f83244;}
.modal_box_title_img{width: 100%; text-align: center; margin-top: 16px; font-weight: bold; font-size: 18px; color: #333;}
.lineheight_0720{line-height: 24px;}
.modal_box_title_img img{margin-right: 15px;}
.modal_box_line{width: 410px; height: 1px; line-height: 1px; border-bottom: 1px dashed #e8e8e8; margin: 0 auto; margin-top: 34px;}
.modal_box_updown{width: 270px; margin: 0 auto; margin-top: 40px;}
.modal_box_updown h4{font-size: 14px; color: #f83244; line-height: 14px; text-align: center;width: 100%; margin-bottom: 24px;}
.modal_box_updown img{width: 128px; height: 128px; float: left; margin-bottom: 20px;}
.modal_box_updown ul{width: 100px; float: left; margin-left: 40px;}
.modal_box_updown li{list-style: disc outside; line-height: 32px; color: #666;}

.modal_layer .modal_box .modal_box__LeaveImg{
    text-align: center;
    margin-top: 16px;
}
.modal_layer .modal_box ul.leave{
    margin:20px 0 ;margin-left: 94px;
}
.modal_layer .modal_box ul.leave li{
    list-style: disc inside;
    line-height: 22px;
    margin-bottom: 10px;
}
.modal_layer .modal_box .button_box{width: 100%; text-align: center; padding-bottom: 20px;}
.modal_layer .modal_box .button_box button{
    border-radius: 2px;
    width: 120px;
    height: 40px;
    outline: 0;
    box-sizing: border-box;
    cursor: pointer;
}

.modal_layer .modal_box .button_box button.button_box__Go_back{
    background: #f83244;
    color: #fff;
    border: 1px solid #f83244;
}

.modal_layer .modal_box .button_box button.button_box__Still_leave{
    background: #fff;
    color: #666;
    border: 1px solid #e8e8e8;
    margin-left: 30px;
}
.down_app{width: 630px; background: url(http://qnm.hunliji.com/o_1blpq3pdaov81ggt1nuhgfp1i5l1a.jpg) no-repeat top,#fff; padding: 20px;}
.down_app_title{width: 100%; font-size: 24px; line-height: 24px; font-weight: bold; color: #fff; text-align: center; margin-top: 32px;}
.down_app_left{width: 325px; float: left; font-size: 14px; color: #666; margin-top: 92px; padding-bottom: 20px; margin-left: 40px; margin-right: 60px;}
.down_app_left h4{font-weight: bold; color: #333; text-indent: -15px;}
.down_app_left li{list-style: disc outside; margin-top: 16px; line-height: 20px; }
.down_app_right{width: 172px; margin-top: 92px; float: left;}
.down_app_right span{width: 100%; text-align: center; margin-top: 20px;}

.showModal{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.animated {
    animation-duration: .5s;
    animation-fill-mode: both;
}
@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

.zoomIn {
    animation-name: zoomIn;
}

/*20171103*/
.photography_merchants{width: 182px; float: left; margin-right: 12.5px; margin-bottom: 16px;}
.photography_merchants:nth-child(5n){margin-right: 0;}
.photography_merchants .li1{width: 182px; height: 182px;}
.photography_merchants .li2{width: 152px; border: 1px solid #e8e8e8; border-top: 0; padding: 10px 14px;}
.photography_merchants .li2 a{width: 152px; display: block; font-size: 14px; color: #333; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.photography_merchants .li2 a:hover{color: #ff5165;}
.photography_merchants .li2 span{color: #999; font-size: 12px;}
.photography_merchants .li2 em:first-child{margin-right: 10px;}
.index_ce{
	float: left;width: 205px;
	margin-top: 8px;
	text-align: center;
	font-family: "微软雅黑";
}
.index_ce li{
	font-size: 16px;
	border: solid 0.5px #E7E7E7;
	height: 48px;
	line-height: 48px;
}
.index_ce li a:hover {
	color: #ff5c5c;
	text-decoration: none;
}
.index_ce li a {
	text-decoration: none;
	color: #2A2B33;
}
.index_right_biaotiui{
	
}
.index_right_biaotiui li a:hover {
	color: #ff5c5c;
	text-decoration: none;
}
.index_right_biaotiui li a {
	text-decoration: none;
	color: #2A2B33;
}
