/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-advertise {
  background-image: url('http://qnm.hunliji.com/o_1aeu8brsn1k7d2e31fa5d2k1rkn7.png');
  background-position: 0px 0px;
  width: 220px;
  height: 110px;
}
.icon-bag {
  background-image: url('http://qnm.hunliji.com/o_1aeu8brsn1k7d2e31fa5d2k1rkn7.png');
  background-position: -80px -110px;
  width: 80px;
  height: 100px;
}
.icon-clothe-img {
  background-image: url('http://qnm.hunliji.com/o_1aeu8brsn1k7d2e31fa5d2k1rkn7.png');
  background-position: 0px -110px;
  width: 80px;
  height: 100px;
}
.icon-collect {
  background-image: url('http://qnm.hunliji.com/o_1aeu8brsn1k7d2e31fa5d2k1rkn7.png');
  background-position: -280px -140px;
  width: 15px;
  height: 15px;
}
.icon-date {
  background-image: url('http://qnm.hunliji.com/o_1aeu8brsn1k7d2e31fa5d2k1rkn7.png');
  background-position: -190px -110px;
  width: 30px;
  height: 30px;
}
.icon-global-photo {
  background-image: url('http://qnm.hunliji.com/o_1aeu8brsn1k7d2e31fa5d2k1rkn7.png');
  background-position: -160px -140px;
  width: 25px;
  height: 25px;
}
.icon-invite {
  background-image: url('http://qnm.hunliji.com/o_1aeu8brsn1k7d2e31fa5d2k1rkn7.png');
  background-position: -220px -140px;
  width: 30px;
  height: 30px;
}
.icon-money-record {
  background-image: url('http://qnm.hunliji.com/o_1blp3phql1225i1d182re5p1svn7.png');
  width: 30px;
  height: 30px;
}
.icon-new-hint {
  background-image: url('http://qnm.hunliji.com/o_1aeu8brsn1k7d2e31fa5d2k1rkn7.png');
  background-position: -220px -100px;
  width: 40px;
  height: 40px;
}
.icon-plan {
  background-image: url('http://qnm.hunliji.com/o_1aeu8brsn1k7d2e31fa5d2k1rkn7.png');
  background-position: -250px -170px;
  width: 30px;
  height: 30px;
}
.icon-register {
  background-image: url('http://qnm.hunliji.com/o_1aeu8brsn1k7d2e31fa5d2k1rkn7.png');
  background-position: -160px -110px;
  width: 30px;
  height: 30px;
}
.icon-ring {
  background-image: url('http://qnm.hunliji.com/o_1aeu8brsn1k7d2e31fa5d2k1rkn7.png');
  background-position: -220px 0px;
  width: 80px;
  height: 100px;
}
.icon-task {
  background-image: url('http://qnm.hunliji.com/o_1aeu8brsn1k7d2e31fa5d2k1rkn7.png');
  background-position: -260px -100px;
  width: 30px;
  height: 30px;
}
.icon-wedding-order {
  background-image: url('http://qnm.hunliji.com/o_1aeu8brsn1k7d2e31fa5d2k1rkn7.png');
  background-position: -220px -170px;
  width: 30px;
  height: 30px;
}
.icon-wedding-photo {
  background-image: url('http://qnm.hunliji.com/o_1aeu8brsn1k7d2e31fa5d2k1rkn7.png');
  background-position: -185px -140px;
  width: 25px;
  height: 25px;
}
